body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex: 1 1 600px;
  min-width: 350px;
  max-width: 700px;
}

select, input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
}

pre {
  font-size: 1rem;
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 1rem;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: 0.25rem;
}  

.hidden {
  display: none;
}

label {
  font-weight: bold;
}

.inline-input input {
  width: 40px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

.comparison-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.winner {
  border: 3px solid green;
  box-shadow: 0 0 12px rgba(0, 235, 0, 0.4);
}

.loser {
  border: 3px solid crimson;
  box-shadow: 0 0 12px rgba(220, 20, 60, 0.3);
}
  
#latency-chart-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

#latencyChartCanvas {
  width: 100% !important;
  height: auto !important;
}

.resultDropdown {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.correlationWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.correlationWrapper input {
  flex: 1;
}

.refreshIdBtn {
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.comparison-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

#run-both-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  min-width: 50px;
}

#runBothBtn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}
